body {
    background-color: #f9f7fe;
    font-family: "Roboto", sans-serif;
}

a {
    color: #885df1;
  }

header {
    border-bottom: 1px solid #f9f7fe;
    padding-bottom: 30px;
  }

main {
    padding: 30px 0;
  }

footer {
    border-top: 1px solid #f9f7fe;
    text-align: center;
    padding-top: 15px;
    color: rgba(39, 33, 66, 0.4);
  }

.weather-app {
    background: white;
    border-radius: 10px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    margin: 60px auto;
    max-width: 600px;
    padding: 30px;
}

.search-input {
    background-color: #f9f7fe;
    border-radius: 6px;
    border: none;
    color: rgba(39, 33, 66, 0.4);
    font-size: 16px;
    padding: 20px;
    width: 75%;
}

.search-button {
    background-color: #885df1;
    border-radius: 6px;
    border: none;
    color: white;
    font-size: 16px;
    margin-left: 5px;
    padding: 20px;
}
  
.current-temperature {
    font-size: 48px;
  }
  
.current-weather {
    display: flex;
    justify-content: space-between;
  }
  
.current-city {
    font-size: 38px;
    font-weight: 900;
    margin-top: -7px;
  }

.current-details {
    color: rgba(39, 33, 66, 0.4);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  
.current-details strong {
    color: #f65282;
  }
  
.current-temperature-icon {
    margin-top: 5px;
    display: inline-block;
    width: 100px;
    height: 100px;
  }
  
.current-temperature-value {
    font-size: 80px;
    font-weight: bold;
    top: -23px;
    position: relative;
  }
  
.current-temperature-unit {
    font-size: 28px;
    position: relative;
    top: -60px;
  }

#icon {
    position: relative;
    display: inline-block;
    margin-top: -23px;
}

.logo {
    margin-bottom: 30px;
    max-width: 150px;
}
  