:root { --bgColor: hsl(39, 100%, 85%) }
html,
body { 
    --color-primary: hsl(39, 100%, 85%);
    --color-secondary: hsl(211, 47%, 85%);
    --color-quaternary: hsl(257, 14%, 38%);
    --color-quinary: hsl(212, 51%, 94%);
    --color-tertiary: hsl(256, 16%, 87%);
    font-family: "Roboto", sans-serif;
    margin: 0;
    height: 100%;
}

*,
*::before,
*::after { box-sizing: border-box; }
        
a {
    color: hsla(257, 84%, 65%, 0.6);
    position: relative;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

a:hover {
    color: hsla(0, 0%, 0%, 0.5);
}

a::before {
    background-color: hsla(257, 84%, 65%, 0.3);
    bottom: -1px;
    content: '';
    display: block;
    height: 0;
    left: 0;
    position: absolute;
    transition: all .3s ease-in-out;
    width: 100%;
  }
  
a:hover::before {
    height: 100%;
  }
  
footer {
    border-top: 1px solid #f9f7fe;
    color: hsla(0, 0%, 0%, 0.5);
    font-size: small;
    margin-bottom: 30px;
    margin-top: auto;
    max-width: 700px;
    padding-top: 25px;
    text-align: center;
    width: 100%;
}

.footer-info {
    margin: 4px 0 30px;
}
  
header {
    border-bottom: 1px solid #f9f7fe;
    padding-bottom: 30px;
}
  
main {
    padding: 30px 0;
    margin-bottom: 50px;
}

.weather-app {
    background: var(--bgColor) center bottom -26px/cover url('./background.svg') no-repeat;
    background-size: 210%;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    margin: 60px auto auto;
    max-width: 700px;
    padding: 40px;
    width: 100%;
    max-height: 800px;
}

.search-input {
    background: hsl(255, 50%, 97%);
    border-radius: 6px;
    border: none;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    margin-right: 10px;
    padding: 20px;
    width: 75%;
}

.search-button {
    background-color: #885df1;
    border-radius: 6px;
    border: none;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .2);
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    /* margin-left: 10px; */
    padding: 20px;
    transition: all 235ms ease-in-out;
}

.search-button:hover {
    box-shadow: none;
    transform: translatey(2px);
  }

.container {
    align-items: center;
    background: linear-gradient(-20deg, rgb(233, 222, 250) 0%, rgb(251, 252, 219) 100%);        
    display: flex;
    flex-direction: column;
    height: 100%;
}
  
.current-temperature {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
.current-weather {
    background: hsla(255, 50%, 97%, 0.8);
    border-radius: 6px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    padding: 25px 25px 30px 25px;
    flex-wrap: wrap;
  }
  
.current-city {
    font-size: 38px;
    font-weight: 900;
    margin: 15px 0;
  }

.current-city::before {
    content: "⚑";
    color: #f65282;
    font-size: 40px;
    margin-right: 10px;
  }

.current-details {
    color: rgba(39, 33, 66, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 50px
  }
  
.current-details strong {
    color: #f65282;
  }
  
.current-temperature-icon {
    margin-top: 61px;
    display: inline-block;
    position: relative;
    width: 120px;
    height: 120px;
}
  
.current-temperature-value {
    font-size: 80px;
    font-weight: bold;
    top: -34px;
    position: relative;
  }
  
.current-temperature-unit {
    font-size: 28px;
    position: relative;
    top: -70px;
  }

#icon {
    position: relative;
    display: inline-block;
    margin-top: -23px;
}

.logo {
    margin-bottom: 30px;
    max-width: 150px;
}

.forecast-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    margin-bottom: 20px;
}

.grid-item {
    text-align: center;
    font-size: 14px;
    color: rgba(39, 33, 66, 0.6)
}

.forecast-temperature-max strong {
    color: #f65282;
    margin-right: 5px;
}

.forecast-icon {
    width: 70%;
}

@media only screen and (max-width: 600px) {    
  
  .current-details {
    margin-bottom: 0;
  }

  .current-temperature {
    margin-bottom: 0;
    margin: -30px auto 0;
  }

  .forecast-container {
    grid-template-columns: 1fr; 
    margin: 0 auto;
  }

  .forecast-icon {
    width: 50%; 
  }

  .grid-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .search-input {
    margin-bottom: 10px;
  }
  
  .weather-app {
    max-height: none;
    margin-bottom: 50px;
  }

}
